.base-button-icon {
    background-color: var(--bgr-btn-icon-color);
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
}

.base-button-icon:hover {
    background-color: var(--bgr-btn-icon-color-hover);
}

.base-button-icon:active {
    background-color: var(--bgr-btn-icon-color-active);
}

.base-button-icon .button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}