.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.col {
    position: relative;
}

/* scroller */
::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cdd3d6;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}